{
    "database": {
        "hostname": "localhost",
        "port": 5432,
        "username": "devmine",
        "password": "devmine",
        "dbname": "devmine",
        "ssl_mode": "disable"
    },
    "features": {
        "average_forks": false,
        "average_stars": false,
        "commits_count": false,
        "contributions_count": false,
        "followers_count": false,
        "hireable": false
    }
}
